@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
:root {
	--font-family: 'Montserrat', sans-serif;
	--font-weight: 400;
	--font-size: 22px;
	--line-height: 1.5;

	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.masonry-grid {
	display: flex;

	width: auto;
}

.masonry-grid_column {
	padding-left: 70px;
	background-clip: padding-box;
}

.masonry-grid_column > div {
	margin-bottom: 70px;
}
